body {

    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}



#question {
    color: white;
    padding-left: 42%;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 8%;
    margin-top: 10%;

}


.container {
   width: 800px;
   max-width: 80%;
   background-color: white;
   border-radius: 5px;
   padding: 10px; 
}

#letter {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 28%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#letter:hover {
    border-color: rgb(0, 166, 255);
}



#begin-btn:hover {
    border-color: greenyellow;
    background-color: greenyellow;
}

#character {
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 33%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#character:hover {
    border-color: rgb(0, 166, 255);
}

#snapA {
    width: 30%;
    height: auto;
margin-left: 15%;
}

#snapB {
    width: 30%;
    height: auto;
    margin-left: 9%;
}

.hide {
    display: none;
}


#mainscreen {
    width: 90%;
    max-width: 100%;
    height: auto;
    margin-left: 5%;
}

#begin-btn {
    border-radius: 50px;
    width: 10rem;
    height: 5rem;
    margin-left: 36%; 
    margin-top: 36%;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    background-color: blue;

}

#dom1 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#dom2 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#answer2 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 24%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#answer2:hover {
    border-color: rgb(0, 166, 255);
}

#falseanswer2 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 40%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#falseanswer2:hover {
    border-color: rgb(0, 166, 255);
}

#falseanswer3 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 24%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#falseanswer3:hover {
    border-color: rgb(0, 166, 255);
}

#answer3 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 40%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#answer3:hover {
    border-color: rgb(0, 166, 255);
}

#master1 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#master2 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#answer4 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 24%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#answer4:hover {
    border-color: rgb(0, 166, 255);
}

#falseanswer4 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 40%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#falseanswer4:hover {
    border-color: rgb(0, 166, 255);
}

#nbc1 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#nbc2 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#gameover {
    width: 100%;
    height:auto;
}

#playstation1 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#playstation2 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#answer5 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 40%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#answer5:hover {
    border-color: rgb(0, 166, 255);
}

#falseanswer5 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 24%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#falseanswer5:hover {
    border-color: rgb(0, 166, 255);
}

#fedex1 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#fedex2 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#answer6 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 40%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#answer6:hover {
    border-color: rgb(0, 166, 255);
}

#falseanswer6 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 24%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#falseanswer6:hover {
    border-color: rgb(0, 166, 255);
}

#north1 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#north2 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#falseanswer7 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 40%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#falseanswer7:hover {
    border-color: rgb(0, 166, 255);
}

#answer7 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 24%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#answer7:hover {
    border-color: rgb(0, 166, 255);
}

#amazon1 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#amazon2 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#answer8 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 40%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#answer8:hover {
    border-color: rgb(0, 166, 255);
}

#falseanswer8 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 24%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#falseanswer8:hover {
    border-color: rgb(0, 166, 255);
}

#samsung1 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#samsung2 {
    width: 30%;
    height:auto;
    margin-left: 12%;
}

#falseanswer9 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 25%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#falseanswer9:hover {
    border-color: rgb(0, 166, 255);
}

#answer9 {
    gap: 5px;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-left: 39%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#answer9:hover {
    border-color: rgb(0, 166, 255);
}

#Ribbon {
    width: 20%;
    height:auto;
    margin-top: 3%;
    margin-left: 38%;
}

#restart-btn {
    gap: 5px;
    border-radius: 50px;
    width: 18em;
    height: 6em;
    margin-left: 40%;
    margin-top: 3%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 50px, 60px;
}

#restart-btn:hover {
    border-color: greenyellow;
    background-color: greenyellow;

}

#winner {
    color: white;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 40%;
    margin-top: 2%;

}